* {
    margin: 0;
    padding: 0;
    background-color: #2E3138;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

body {
    min-height: 100%; 
    overflow-x: hidden; 
    max-height: 50vh;
    overflow-y: auto; 
}

/* Enable scrolling on mobile */
@media (max-width: 768px) {
    html {
        min-height: 70%;
        overflow: auto; /* Enable scrolling only on mobile */
    }
}